* {
	padding: 0px;
	margin: 0px;
	font-family: Cuntury Gothic;
}


body {
	background-color: #ededed;
	background: linear-gradient(to right, red, orange);
}

.home {
	display: flex;
	flex-wrap: wrap;
}

.in-flex {
	flex: 1;
	background-color: #fff;
	min-width: 250px;
	font-size: 23px;
	background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.in-flex:first-child {
	flex: 2;
	padding: 25px;
	margin: 20px;
	margin-bottom: 0px;
}

.in-flex div {
	padding: 25px;
	background-color: #fff;
	margin: 20px;
	background: linear-gradient(to right, #4c2882, #2271b3);
}